:root {
    --main-colour: #114611;
}

* {
    font-family: Quicksand;
}

header {
    background-color: var(--main-colour);
    text-align: center;
    color: white;
    display: flex;
    justify-content: space-between;
}

#logo {
    width: 10rem;
}

.button {
    color: white;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#icons {
    display: flex;
}

#home-btn {
    margin-right: 30px;
}

#about-us-icon {
    margin-right: 25px;
}

h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}

h3 {
    text-align: center;
    font-size: 35px;
}

.variable, .city-name {
    color: #3D7835;
}

.weather-icon {
    width: 80%;
}

.future-weather {
    display: flex;
    justify-content: space-between;
}

.today {
    text-align: center;
    width: 50%;
}

.today img {
    width: 10%;
}

.weather-results > p {
    font-size: 18px;
}

.weather-card {
    margin: 0 40px 0 40px;
}

.card-title {
    color: black !important;
    text-shadow: 2px 3px 1px rgba(127, 128, 127, 0.7);
}

.card-content>p {
    font-size: 18px;
}

footer {
    background-color: var(--main-colour);
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 30px;
    width: 100%;
    z-index: 100;
}

#weather-results {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    #weather-results {
        margin: 0 20px 0 20px;
    }
}
