:root {
    --main-colour: #114611;
}

* {
    font-family: Quicksand;
}

header {
    background-color: var(--main-colour);
    text-align: center;
    color: white;
    display: flex;
    justify-content: space-between;
}

#logo {
    width: 10rem;
}

.button {
    color: white;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#icons {
    display: flex;
}

#back-btn {
    color: var(--main-colour);
}

#home-btn {
    margin-right: 30px;
    color: var(--main-colour);
}

#about-us-icon {
    margin-right: 25px;
}

body {
    background-image: url("https://hips.hearstapps.com/hmg-prod/images/hiking-quotes-1586278882.jpg?crop=1.00xw:0.751xh;0,0.192xh&resize=1200:*");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
}

main {
    display: inline;
    height: 100vh;
}

#search {
    font-size: 18px;
    box-sizing: border-box;
    padding: 0 5px 0 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: #EAEFEA;
    margin-top: 9px;
}

::placeholder {
    color: #ABACAB;
}

.input-field {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    height: 44.7px;
    background-color: var(--main-colour);
}

.btn:hover{
    background-color: var(--main-colour);
}

footer {
    background-color: var(--main-colour);
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 30px;
    width: 100%;
}



@media screen and (max-width: 992px) {
    .input-field {
        width: 90%;

    }
}
